{{ define "main" }}
<header class="page-header">
    <h1>{{ .Title }}</h1>
</header>

<ul class="terms-tags">
    {{ $type := .Type }}
    {{ range $key, $value := .Data.Terms.Alphabetical }}
        {{ $name := .Name }}
        
        {{/* Only display non-hierarchical tags (those without slashes) */}}
        {{ if not (in $name "/") }}
            <li>
                <a href="{{ .Page.RelPermalink }}">
                    {{ if eq $name "smoke_preparation" }}
                        Smoke Preparation
                    {{ else }}
                        {{ $words := split .Name "_" }}
                        {{ $titleCase := slice }}
                        {{ range $words }}
                            {{ $titleCase = append $titleCase (title .) }}
                        {{ end }}
                        {{ delimit $titleCase " " }}
                    {{ end }}
                    <sup><strong><sup>{{ .Count }}</sup></strong></sup>
                </a>
            </li>
        {{ end }}
    {{ end }}
</ul>
{{ end }}