{{- define "main" }}

{{- if (and site.Params.profileMode.enabled .IsHome) }}
{{- partial "index_profile.html" . }}
{{- else }}

<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">
      {{ .Title }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
  </header>
  
  {{- if .Content }}
  <div class="post-content">
    {{ .Summary }}
  </div>
  {{- end }}
  
  <!-- Add the section links here, between Summary and Content -->
  {{ partial "section-links.html" . }}
  
  {{- if .Content }}
  <div class="post-content">
    {{ replace .Content .Summary "" | safeHTML }}
  </div>
  {{- end }}
</article>

{{- end }}
{{- end }}